@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', sans-serif;
	max-width: 1440px;
	color: $primary;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

.wrapper {
	@include min-max(320px, 100%, 0);
}

.container {
	@include min-max(320px, 1170px, 15px);
	margin: 0 auto;
}

.section {
  position: relative;
  padding: 40px 0;
}

a {
  text-decoration: none;
}