@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 19px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: $primary;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

.wrapper {
	@include min-max(320px, 100%, 0);
}

.container {
	@include min-max(320px, 1440px, 15px);
}

.section {
  position: relative;
  padding: 40px 0;
}

a {
  text-decoration: none;
}