.header {
    width: 100%;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        font-weight: bold;
        margin: 60px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    a {
        color: $primary;
    }
}

.section_about {
    background: url(../../img/about-bg.jpg) no-repeat;

    img {
      display: block;
      margin: 0 auto;
    }

    h2 {
        font-size: 72px;
        color: $secondary;
        margin-top: 20px;
    }

    p {
        color: $secondary;
        line-height: 21px;
        margin: 0 auto;
        margin-top: 100px;
    }
}