.header {
    width: 100%;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        font-weight: bold;
        margin: 60px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    a {
        color: $primary;
    }
}

.section_about {
    background: url(../../img/about-bg.jpg) no-repeat;

    img {
      display: block;
      margin: 0 auto;
    }

    h2 {
        font-size: 72px;
        color: $secondary;
        margin-top: 20px;
    }

    p {
        color: $secondary;
        line-height: 21px;
        margin: 0 auto;
        margin-top: 100px;
    }
}

h3 {
    font-size: 17px;
    font-weight: bold;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    font-weight: 900;
}

p {
    line-height: 150%;
}

.section_reviews {
    h3 {
        margin-bottom: 20px;
    }
}

.reviews {
    display: flex;
    justify-content: space-between;
    &__item {
        flex-basis: 33%;
        h4 {
            margin: 20px 0;
            text-align: left;
        }

        p {
            text-align: left;
            line-height: 150%;
        }
    }
}

.section_price {
    h3 {
        margin-bottom: 40px;
    }
    .price {
        &__item {
            width: 370px;
            margin: 0 auto;
            h4 {
                margin-bottom: 15px;
            }
        }
    }
}